.container {
  height: 100%;
  /* todo가 많을때 input이 넘어가는 문제 */
  /* 기본적으로 flex item은 min-height:100%임 */
  min-height: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
}

.list {
  flex: 1 1 auto;
  overflow-y: auto;
}
